@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,600;1,700;1,800&display=swap');

// colors
$primary-color: #3988C4;
$secondary-color: #7AAACE;
$accent-color: #7BA9CE;
$device-extra-small: 0px;
$device-small: 600px;
$device-medium: 960px;
$device-large: 1280px;
$device-extra-large: 1920px;

// font
$font-stack: 'Open Sans', sans-serif;