// Typography
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-size: normal;
  }
  
  @font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

// colors
$primary-color: #3988C4;
$secondary-color: #7AAACE;
$accent-color: #7BA9CE;
$device-extra-small: 0px;
$device-small: 600px;
$device-medium: 960px;
$device-large: 1280px;
$device-extra-large: 1920px;

// font
$font-stack: 'Open Sans', sans-serif;